openapi: 3.1.0
info:
  title: Node.js Hosting Public API
  version: 1.0.0
  description: "An API for managing Node.js hosting applications: create and
    configure apps, deploy code from a zip upload or a connected GitHub
    repository, manage environment secrets, and monitor deployment status and
    application logs."
  contact:
    name: GoDaddy Node.js Hosting
    x-slack-channel: "#host-paas"
    x-visibility: private
  x-visibility: private
  x-lifecycle: GA
servers:
  - url: https://api.godaddy.com/v1/hosting/nodejs
    description: Production
  - url: https://api.test-godaddy.com/v1/hosting/nodejs
    description: Test
  - url: https://api.dev-godaddy.com/v1/hosting/nodejs
    description: Development
  - url: /v1/hosting/nodejs
    description: Relative to the gateway origin the spec is served from
tags:
  - name: Apps
    description: Create, read, update, and delete apps.
  - name: Deployments
    description: Publish the latest code, list past deployments, roll back to a
      previous one, and probe runtime status.
  - name: Source
    description: Set the app source from a zip upload or a GitHub repo/branch, and
      poll the import job.
  - name: GitHub
    description: Inspect the GitHub connection and list repos/branches the connected
      token can access.
  - name: Secrets
    description: Manage environment secrets per variant. Values are never returned.
  - name: Logs
    description: Read application and build logs.
paths:
  /apps:
    get:
      operationId: listApps
      summary: List apps
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:read
      responses:
        "200":
          description: App list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppList"
        "401": &a1
          description: Unauthorized (missing session, invalid API key or Bearer token, or
            insufficient OAuth scope)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicApiError"
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: &a2
            Retry-After:
              description: Seconds until the client may retry.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Max requests per window for this operation.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Seconds until the current window resets.
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
    post:
      operationId: createApp
      summary: Create app
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicCreateAppBody"
      responses:
        "202":
          description: App creation accepted; poll the returned job for status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppCreationJob"
        "401": *a1
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/jobs/{jobId}:
    get:
      operationId: getAppCreationStatus
      summary: Get app creation status
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:create
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App creation status (app present once active)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppCreationStatus"
        "401": *a1
        "404": &a3
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicApiError"
        "429":
          description: "Too many requests. Limit: 120 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}:
    get:
      operationId: getApp
      summary: Get app
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:read
      parameters:
        - &a4
          name: appId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: App details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppResponse"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
    patch:
      operationId: patchApp
      summary: Update app metadata
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:update
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicPatchAppBody"
      responses:
        "200":
          description: App updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppResponse"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
    delete:
      operationId: deleteApp
      summary: Delete app
      tags:
        - Apps
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:delete
      parameters:
        - *a4
      responses:
        "204":
          description: App deleted
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/deployments:
    get:
      operationId: listDeployments
      summary: List deployments
      tags:
        - Deployments
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:read
      parameters:
        - *a4
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
      responses:
        "200":
          description: Deployments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicDeploymentsList"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
    post:
      operationId: publishApp
      summary: Publish app (deploy latest code)
      tags:
        - Deployments
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.deploy:execute
      parameters:
        - *a4
      responses:
        "200":
          description: Publish started; poll GET …/deployments or GET …/status for progress.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicPublishResponse"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/status:
    get:
      operationId: getAppStatus
      summary: Get app status
      tags:
        - Deployments
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.apps:read
      parameters:
        - *a4
      responses:
        "200":
          description: App status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicAppStatus"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 120 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/source:
    post:
      operationId: uploadAppSource
      summary: Upload app source (zip)
      tags:
        - Source
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.code:write
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - zipFile
              properties:
                zipFile:
                  type: string
                  format: binary
      responses:
        "200":
          description: Upload accepted; poll GET …/source/status with the returned jobId
            for progress.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicZipUploadResponse"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/source/status:
    get:
      operationId: getAppSourceUploadStatus
      summary: Poll zip upload status
      tags:
        - Source
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.code:write
      parameters:
        - *a4
        - name: jobId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Upload status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicZipUploadStatus"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 120 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/source/git:
    post:
      operationId: startGitImport
      summary: Import app source from a GitHub repo/branch
      tags:
        - Source
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.code:write
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicGitImportBody"
      responses:
        "202":
          description: Git import accepted; poll the returned jobId for status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGitImportResponse"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/source/git/status:
    get:
      operationId: getGitImportStatus
      summary: Poll git import status
      tags:
        - Source
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.code:read
      parameters:
        - *a4
        - name: jobId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Git import status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGitImportStatus"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 120 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/github/status:
    get:
      operationId: getGitHubStatus
      summary: Get GitHub connection status
      tags:
        - GitHub
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.github:execute
      parameters:
        - *a4
      responses:
        "200":
          description: GitHub connection status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGitHubStatus"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/github/repos:
    get:
      operationId: listGitHubRepos
      summary: List accessible GitHub repositories
      tags:
        - GitHub
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.github:execute
      parameters:
        - *a4
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - created
              - updated
              - pushed
              - full_name
            default: updated
      responses:
        "200":
          description: Repositories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGitHubRepos"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/github/branches:
    get:
      operationId: listGitHubBranches
      summary: List branches for a GitHub repository
      tags:
        - GitHub
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.github:execute
      parameters:
        - *a4
        - name: owner
          in: query
          required: true
          schema:
            type: string
        - name: repo
          in: query
          required: true
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        "200":
          description: Branches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicGitHubBranches"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/secrets:
    get:
      operationId: listAppSecrets
      summary: List app secrets (metadata only)
      tags:
        - Secrets
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.secrets:write
      parameters:
        - *a4
        - name: variant
          in: query
          required: false
          schema:
            type: string
            enum:
              - preview
              - publish
      responses:
        "200":
          description: Secret names and metadata (values never returned)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicSecretsList"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
    post:
      operationId: updateAppSecrets
      summary: Add, update, or delete app secrets
      description: Superseded by `POST /v2/hosting/nodejs/apps/{appId}/sync-secrets`,
        which accepts the same operation shape under the `hosting.secret:write`
        OAuth scope and returns the same secret-metadata response. This v1
        endpoint remains live.
      tags:
        - Secrets
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.secrets:write
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicSecretsUpdateBody"
      responses:
        "200":
          description: Updated secret metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicSecretsList"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/logs:
    get:
      operationId: getAppLogs
      summary: Get application logs
      tags:
        - Logs
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.logs:read
      parameters:
        - *a4
        - name: target
          in: query
          required: true
          schema:
            type: string
            enum:
              - preview
              - publish
        - name: source
          in: query
          required: true
          schema:
            type: string
        - name: since
          in: query
          required: true
          schema:
            type: string
        - name: lines
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 500
      responses:
        "200":
          description: Log entries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicCustomerLogs"
        "401": *a1
        "404": *a3
        "429":
          description: "Too many requests. Limit: 60 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
  /apps/{appId}/rollback:
    post:
      operationId: rollbackApp
      summary: Rollback to a previous deployment
      deprecated: true
      description: "**Deprecated.** This operation is not available in v2 per API
        design review. It remains live and feature-flagged in production but may
        be removed in a future v1 maintenance release. Clients should not build
        new integrations against this endpoint."
      tags:
        - Deployments
      security:
        - cookieAuth: []
        - apiKeyAuth: []
        - oauth2:
            - hosting.paas.deploy:execute
      parameters:
        - *a4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicRollbackBody"
      responses:
        "200":
          description: Rollback started; poll GET …/deployments or GET …/status for
            progress.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRollbackResponse"
        "401": *a1
        "403":
          description: Rollback not enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicApiError"
        "404": *a3
        "429":
          description: "Too many requests. Limit: 10 requests per minute per client IP.
            X-RateLimit-* headers are returned on successful responses as well."
          headers: *a2
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicRateLimitError"
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: auth_idp
      description: Customer session cookie forwarded by API Gateway
    apiKeyAuth:
      type: http
      scheme: sso-key
      description: "Developer portal API key on the public gateway URL:
        `Authorization: sso-key {key}:{secret}`. Does not use OAuth scopes."
    oauth2:
      type: oauth2
      description: "GoDaddy OAuth access token (Bearer). Each operation requires the
        OAuth scope listed on that operation. A Personal Access Token from the
        Developer Portal is a valid way to obtain this token: the gateway
        exchanges it for a short-lived access token before the request reaches
        this API, so no PAT-specific handling is needed here."
      flows:
        clientCredentials:
          tokenUrl: https://oauth.api.godaddy.com/v2/oauth2/token
          scopes:
            hosting.paas.analytics:read: Access application analytics.
            hosting.paas.apps:create: Create applications and poll creation job status.
            hosting.paas.apps:delete: Delete applications.
            hosting.paas.apps:read: Read application details, list apps, deployments, and status.
            hosting.paas.apps:update: Update application metadata and runtime configuration.
            hosting.paas.code:read: Read, list, and export files; read database schemas,
              tables, and data; read Git history.
            hosting.paas.code:write: Write files; run zip uploads; sync GitHub; run database imports.
            hosting.paas.deploy:execute: Publish, rollback, restart, and deploy applications.
            hosting.paas.github:execute: Configure GitHub connections (auth, disconnect,
              pull, repository access).
            hosting.paas.health:read: Access application health and diagnose functionality.
            hosting.paas.logs:read: Access application logs.
            hosting.paas.secrets:write: Manage application secrets.
  schemas:
    PublicAppList:
      type: object
      properties:
        apps:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              status:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              urls:
                type: object
                properties:
                  preview:
                    type: string
                  publish:
                    type: string
                additionalProperties: false
              variants:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    status:
                      type: string
                  required:
                    - name
                    - status
                  additionalProperties: false
            required:
              - id
              - name
              - status
              - createdAt
              - updatedAt
              - urls
            additionalProperties: false
      required:
        - apps
      additionalProperties: false
    PublicAppResponse:
      type: object
      properties:
        app:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            status:
              type: string
            createdAt:
              type: string
            updatedAt:
              type: string
            urls:
              type: object
              properties:
                preview:
                  type: string
                publish:
                  type: string
              additionalProperties: false
            variants:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  status:
                    type: string
                required:
                  - name
                  - status
                additionalProperties: false
            variantsWithLifecycle:
              type: array
              items:
                type: object
                properties:
                  variant:
                    type: string
                  status:
                    type: string
                  lifecycleState:
                    type: string
                required:
                  - variant
                  - status
                additionalProperties: false
          required:
            - id
            - name
            - status
            - createdAt
            - updatedAt
            - urls
          additionalProperties: false
      required:
        - app
      additionalProperties: false
    PublicDeploymentsList:
      type: object
      properties:
        deployments:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              status:
                type: string
                enum:
                  - pending
                  - deploying
                  - deployed
                  - failed
              gitHash:
                type: string
              createdAt:
                type: string
              updatedAt:
                type: string
              errorMessage:
                type: string
            required:
              - id
              - status
              - gitHash
              - createdAt
              - updatedAt
            additionalProperties: false
        totalCount:
          type: integer
          minimum: 0
          maximum: 9007199254740991
        hasMore:
          type: boolean
      required:
        - deployments
        - totalCount
        - hasMore
      additionalProperties: false
    PublicAppStatus:
      type: object
      properties:
        appStatus:
          type: string
        variants:
          type: array
          items:
            type: object
            properties:
              variant:
                type: string
              status:
                type: string
              lifecycleState:
                type: string
            required:
              - variant
              - status
            additionalProperties: false
      required:
        - appStatus
        - variants
      additionalProperties: false
    PublicCreateAppBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9 _.'&(),!#:+/-]*$
        datacenter:
          type: string
          enum:
            - p3
            - sxb1
      required:
        - name
      additionalProperties: false
    PublicAppCreationJob:
      type: object
      properties:
        job:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum:
                - pending
                - active
                - failed
          required:
            - id
            - status
          additionalProperties: false
      required:
        - job
      additionalProperties: false
    PublicAppCreationStatus:
      type: object
      properties:
        job:
          type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum:
                - pending
                - active
                - failed
          required:
            - id
            - status
          additionalProperties: false
        app:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            status:
              type: string
            createdAt:
              type: string
            updatedAt:
              type: string
            urls:
              type: object
              properties:
                preview:
                  type: string
                publish:
                  type: string
              additionalProperties: false
            variants:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  status:
                    type: string
                required:
                  - name
                  - status
                additionalProperties: false
            variantsWithLifecycle:
              type: array
              items:
                type: object
                properties:
                  variant:
                    type: string
                  status:
                    type: string
                  lifecycleState:
                    type: string
                required:
                  - variant
                  - status
                additionalProperties: false
          required:
            - id
            - name
            - status
            - createdAt
            - updatedAt
            - urls
          additionalProperties: false
      required:
        - job
      additionalProperties: false
    PublicPatchAppBody:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9 _.'&(),!#:+/-]*$
        rootPath:
          type: string
          maxLength: 2048
      additionalProperties: false
      minProperties: 1
      description: At least one of name or rootPath must be provided.
    PublicPublishResponse:
      type: object
      properties:
        deploymentId:
          type: string
        status:
          type: string
        commitHash:
          type: string
      required:
        - deploymentId
        - status
      additionalProperties: false
    PublicZipUploadResponse:
      type: object
      properties:
        jobId:
          type: string
      required:
        - jobId
      additionalProperties: false
    PublicZipUploadStatus:
      type: object
      properties:
        status:
          type: string
        progressMessage:
          type: string
        errorMessage:
          type: string
        errorStage:
          type: string
      required:
        - status
      additionalProperties: false
    PublicGitHubStatus:
      type: object
      properties:
        connected:
          type: boolean
        user:
          type: object
          properties:
            login:
              type: string
            name:
              anyOf:
                - type: string
                - type: "null"
            avatarUrl:
              type: string
          required:
            - login
            - name
            - avatarUrl
          additionalProperties: false
        scopes:
          type: array
          items:
            type: string
        appInstalled:
          type: boolean
        repositorySelection:
          type: string
          enum:
            - all
            - selected
        appInstallUrl:
          type: string
        error:
          type: string
      required:
        - connected
      additionalProperties: false
    PublicGitHubRepos:
      type: object
      properties:
        repos:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              fullName:
                type: string
              private:
                type: boolean
              description:
                anyOf:
                  - type: string
                  - type: "null"
              url:
                type: string
              cloneUrl:
                type: string
              defaultBranch:
                type: string
              updatedAt:
                type: string
            required:
              - id
              - name
              - fullName
              - private
              - description
              - url
              - cloneUrl
              - defaultBranch
              - updatedAt
            additionalProperties: false
      required:
        - repos
      additionalProperties: false
    PublicGitHubBranches:
      type: object
      properties:
        branches:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              protected:
                type: boolean
              commit:
                type: object
                properties:
                  sha:
                    type: string
                  url:
                    type: string
                required:
                  - sha
                  - url
                additionalProperties: false
            required:
              - name
              - protected
              - commit
            additionalProperties: false
      required:
        - branches
      additionalProperties: false
    PublicGitImportBody:
      type: object
      properties:
        repoFullName:
          type: string
          pattern: ^[a-zA-Z0-9_.-]+\/[a-zA-Z0-9_.-]+$
        repoUrl:
          type: string
          format: uri
        branch:
          type: string
          minLength: 1
          pattern: ^[^\x00-\x1f<> ~^:?*\\[\]]+$
        isPrivate:
          type: boolean
        clearWorkingTree:
          type: boolean
      required:
        - branch
      additionalProperties: false
    PublicGitImportResponse:
      type: object
      properties:
        jobId:
          type: string
        status:
          type: string
          enum:
            - in_progress
            - complete
      required:
        - jobId
        - status
      additionalProperties: false
    PublicGitImportStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - in_progress
            - complete
            - failed
        message:
          type: string
        detail:
          type: object
          propertyNames:
            type: string
          additionalProperties: {}
      required:
        - status
      additionalProperties: false
    PublicSecretsList:
      type: object
      properties:
        shared:
          type: object
          properties:
            secrets:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  systemManaged:
                    type: boolean
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                required:
                  - name
                  - systemManaged
                additionalProperties: false
          required:
            - secrets
          additionalProperties: false
        variants:
          type: object
          properties:
            preview:
              type: object
              properties:
                secrets:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      systemManaged:
                        type: boolean
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - name
                      - systemManaged
                    additionalProperties: false
              required:
                - secrets
              additionalProperties: false
            publish:
              type: object
              properties:
                secrets:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      systemManaged:
                        type: boolean
                      createdAt:
                        type: string
                      updatedAt:
                        type: string
                    required:
                      - name
                      - systemManaged
                    additionalProperties: false
              required:
                - secrets
              additionalProperties: false
          additionalProperties: false
      required:
        - shared
        - variants
      additionalProperties: false
    PublicSecretsUpdateBody:
      type: object
      properties:
        variant:
          default: preview
          type: string
          enum:
            - preview
            - publish
        operations:
          type: object
          properties:
            additions:
              default: []
              maxItems: 50
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 256
                  value:
                    type: string
                    maxLength: 8192
                required:
                  - name
                  - value
                additionalProperties: false
            updates:
              default: []
              maxItems: 50
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 256
                  value:
                    type: string
                    maxLength: 8192
                required:
                  - name
                  - value
                additionalProperties: false
            deletions:
              default: []
              maxItems: 50
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    minLength: 1
                    maxLength: 256
                required:
                  - name
                additionalProperties: false
          required:
            - additions
            - updates
            - deletions
          additionalProperties: false
      required:
        - variant
        - operations
      additionalProperties: false
    PublicCustomerLogs:
      type: object
      properties:
        logs:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
              source:
                type: string
              message:
                type: string
              level:
                type: string
            required:
              - timestamp
              - source
              - message
              - level
            additionalProperties: false
        total:
          type: number
      required:
        - logs
        - total
      additionalProperties: false
    PublicRollbackBody:
      type: object
      properties:
        deploymentId:
          type: string
          minLength: 1
          pattern: ^[a-zA-Z0-9_-]+$
      required:
        - deploymentId
      additionalProperties: false
    PublicRollbackResponse:
      type: object
      properties:
        rollbackFrom:
          type: string
        commitHash:
          type: string
        deploymentId:
          type: string
        status:
          type: string
      required:
        - rollbackFrom
        - commitHash
        - deploymentId
        - status
      additionalProperties: false
    PublicApiError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
        detail:
          type: string
      required:
        - error
      additionalProperties: false
    PublicRateLimitError:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
          enum:
            - RATE_LIMITED
        detail:
          type: string
      required:
        - error
        - code
        - detail
      additionalProperties: false
