{
  "openapi": "3.0.3",
  "info": {
    "title": "Domain Lifecycle Management API",
    "version": "3.1.0",
    "x-visibility": "public",
    "description": "The GoDaddy Domain Lifecycle Management API provides comprehensive capabilities\nfor discovering, registering, managing, renewing, transferring, and reselling\ndomain names. This is major version 3, designed for agent-first interactions\nwhile remaining fully usable by direct API clients and resellers.\n\n## Namespace\n\nAll paths are under `/v3/domains/`. The namespace is `domains` (the business capability);\nthe core entity collection is `/domain-names`.\n\n## Key Conventions\n\n**Quote/execute for commercial operations.** Every commercial mutation (register,\nrenew, transfer) requires a `quoteToken` minted by the corresponding quote\ncollection endpoint. Execution without a prior quote is structurally impossible.\nThe token locks the price, resolved settings, and required legal agreements for a\n10-minute TTL. Quote calls are free, read-only, and safe to call speculatively.\n\n**Async commercial operations.** `POST /registrations`, `POST /renewals`, and\n`POST /transfers` each return `202 Accepted` with the concrete entity body\n(`Registration`, `Renewal`, or `Transfer`) and a `Location` header. Poll\n`links[rel=self]` on the returned entity until status is `COMPLETED` or `FAILED`.\nEach concrete resource is also reachable via `GET /operations/{operationId}`;\nthe `operationId` is included in the entity for clients that prefer the abstract\nview. Non-commercial mutations return a `DomainOperation` body.\n\n**Entity-oriented resource model.** Domains are the core entity of this API\n(exposed as `/domain-names` in the path to distinguish the resource collection\nfrom the `domains` namespace prefix). Register, renew, and transfer are\ncommercial actions executed by `POST` to their corresponding top-level\nresource collections (`/registrations`, `/renewals`, `/transfers`); each\naccepts a prior quote and returns an async entity to poll until completion.\nFor commercial execute calls, the target domain is\nexpressed in the request body, not the path. Sub-resources (`contacts`,\n`nameservers`, `privacy`, `auto-renew`, `transfer-lock`, `records`) only exist\nin the context of a specific domain-name instance. The `/check-availability`\ncontroller accepts GET (single domain) or POST (1\u201350 domains) and carries no\npersistent identity.\n\n**Flat, two-level maximum.** No resource path goes deeper than\n`/{collection}/{id}/{sub-resource}` or `/{collection}/{id}/{sub-collection}/{id}`.\n\n**Reseller on-behalf-of.** Resellers pass `X-Shopper-Id`; all operations are\nthen scoped to that shopper. Absent the header, the authenticated entity's own\naccount is used.\n\n## Launch Scope (v3.0)\nStandard TLDs only. TLDs with eligibility requirements (.us, .ca, .eu) return\n`UNSUPPORTED_TLD` until Phase 2.\n",
    "contact": {
      "name": "GoDaddy Domains Platform",
      "x-slack-channel": "#domains_beplat_eng",
      "x-visibility": "private"
    }
  },
  "servers": [
    {
      "url": "https://api.ote-godaddy.com",
      "description": "Domains API host"
    }
  ],
  "security": [
    {
      "oauth2": []
    }
  ],
  "tags": [
    {
      "name": "Discovery",
      "description": "Indicative, non-committing operations for finding and checking domains. Use suggestDomains for natural-language queries. For a single known domain, use getDomainAvailability (GET /check-availability); for 1\u201350 domains in one call, use checkAvailability (POST /check-availability). Both availability operations share the same check semantics and Availability result model; locked pricing is established only at quote time. Neither carries a persistent check identity.\n"
    },
    {
      "name": "Registration Quotes",
      "description": "Quote a domain registration. Returns a locked price, resolved settings, required agreements, and a single-use quoteToken. Free and read-only.\n"
    },
    {
      "name": "Registrations",
      "description": "Top-level registration entity collection. Execute a domain registration by POSTing with a quoteToken, domain, period, and consent. Returns a Registration entity with links to the concrete poll URL (GET /registrations/{registrationId}) and the abstract operation (GET /operations/{operationId}).\n"
    },
    {
      "name": "Domains",
      "description": "The core domain entity collection. Supports listing and reading owned domain records, and cancelling registrations.\n"
    },
    {
      "name": "Domain Management",
      "description": "Non-commercial async mutations on owned domain instances: contacts, nameservers, privacy, auto-renew, and transfer-lock. All sub-resources of /domain-names/{domain-name}. All mutations return a DomainOperation for polling.\n"
    },
    {
      "name": "Records",
      "description": "CRUD operations on DNS records within the GoDaddy-managed zone. Sub-collection of /zones/{zone}. Changes are applied synchronously.\n"
    },
    {
      "name": "Operations",
      "description": "Abstract operation polling. Poll GET /operations/{operationId} for any domain mutation until it reaches COMPLETED or FAILED. Operation IDs are unique across Registration, Renewal, and Transfer \u2014 clients that prefer typed polling can use the concrete resource endpoints instead.\n"
    }
  ],
  "paths": {
    "/v3/domains/suggestions": {
      "get": {
        "operationId": "suggestDomains",
        "tags": [
          "Discovery"
        ],
        "summary": "Suggest available domains for a query",
        "description": "Returns available domain name suggestions for a natural-language query\nor keyword set. All results are available (available-only contract).\nPrices are indicative; the authoritative price and availability check\nis at quote time.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Natural-language query or keywords describing the desired domain, e.g. \"sunrise bakery\". Used to generate creative and keyword-spin suggestions.\n",
            "schema": {
              "type": "string"
            },
            "example": "sunrise bakery"
          },
          {
            "name": "tlds",
            "in": "query",
            "required": false,
            "description": "Top-level domains to be included in suggestions.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "com",
              "net",
              "shop"
            ]
          },
          {
            "name": "lengthMax",
            "in": "query",
            "required": false,
            "description": "Maximum length of second-level domain.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "lengthMin",
            "in": "query",
            "required": false,
            "description": "Minimum length of second-level domain.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "Maximum number of suggestions in the response. Defaults to 10 when omitted.\n",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "sources",
            "in": "query",
            "required": false,
            "description": "Suggestion source strategies to activate.\n",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/SuggestionSource"
              }
            },
            "example": [
              "EXTENSION",
              "KEYWORD_SPIN"
            ]
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Suggested available domains sorted by relevance.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Available domain suggestions, sorted by relevance. All items are available by contract.\n",
                      "items": {
                        "$ref": "#/components/schemas/Suggestion"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/check-availability": {
      "get": {
        "operationId": "getDomainAvailability",
        "tags": [
          "Discovery"
        ],
        "summary": "Check availability of a single domain",
        "description": "Returns an indicative availability result for one domain, including\nper-term pricing when available. Availability is best-effort; the\nauthoritative check is performed at quote time. This operation does\nnot persist the check \u2014 there is no check identity or poll URL.\n\nEquivalent to POST /check-availability with `domains: [domain]` and the\nsame optional criteria (`optimizeFor`, `iscCode`). The response is that\nsingle `Availability` item unwrapped for convenience \u2014 POST returns the\nsame result inside `{ items: [...] }`. Use POST when checking multiple\ndomains in one request.\n\nA domain that cannot be checked is still returned as a `200` with an\n`error` object on the body (the same per-item contract as POST); request-\nlevel failures use the `4xx` responses.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "name": "domain",
            "in": "query",
            "required": true,
            "description": "The domain name to check, in punycode A-label form for IDNs.",
            "schema": {
              "type": "string"
            },
            "example": "example.com"
          },
          {
            "name": "optimizeFor",
            "in": "query",
            "required": false,
            "description": "Optional. When omitted, defaults to SPEED. Availability is always re-verified authoritatively at quote time regardless of this setting.\n",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OptimizationTarget"
                }
              ],
              "default": "SPEED"
            },
            "example": "SPEED"
          },
          {
            "$ref": "#/components/parameters/iscCode"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Availability result for the requested domain.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Availability"
                },
                "examples": {
                  "available": {
                    "summary": "Available domain with per-term pricing",
                    "value": {
                      "domain": "coffee24x7x365.com",
                      "available": true,
                      "definitive": false,
                      "inventory": "REGISTRY",
                      "prices": [
                        {
                          "term": "YEAR",
                          "period": 1,
                          "price": {
                            "currencyCode": "USD",
                            "value": 1199
                          },
                          "renewalPrice": {
                            "currencyCode": "USD",
                            "value": 2299
                          }
                        },
                        {
                          "term": "YEAR",
                          "period": 2,
                          "price": {
                            "currencyCode": "USD",
                            "value": 3098
                          },
                          "renewalPrice": {
                            "currencyCode": "USD",
                            "value": 4598
                          }
                        },
                        {
                          "term": "YEAR",
                          "period": 3,
                          "price": {
                            "currencyCode": "USD",
                            "value": 4599
                          },
                          "renewalPrice": {
                            "currencyCode": "USD",
                            "value": 6897
                          }
                        },
                        {
                          "term": "YEAR",
                          "period": 5,
                          "price": {
                            "currencyCode": "USD",
                            "value": 9197
                          },
                          "renewalPrice": {
                            "currencyCode": "USD",
                            "value": 11495
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "checkAvailability",
        "x-visibility": "private",
        "tags": [
          "Discovery"
        ],
        "summary": "Check availability of one or more specific domains",
        "description": "Batch controller for domain availability checking. Accepts 1\u201350 domain\nnames alongside optional check criteria (optimization mode, ISC pricing\ncode). Returns one Availability result per requested domain in input\norder inside `{ items: [...] }`. Domains that cannot be checked carry\nan `error` object on that item.\n\nFor a single domain, GET /check-availability (getDomainAvailability)\noffers the same check semantics and Availability result without a\nrequest body; the response is the lone item unwrapped.\n\nAvailability is best-effort indicative; the authoritative check is\nalways performed at quote time. This controller does not persist the\ncheck \u2014 there is no check identity or poll URL.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailabilityCheckCriteria"
              },
              "examples": {
                "defaultBehavior": {
                  "summary": "Omit optimizeFor \u2014 defaults to SPEED",
                  "value": {
                    "domains": [
                      "example.com",
                      "example.net"
                    ]
                  }
                },
                "speedCheck": {
                  "summary": "Check two domains using cached data",
                  "value": {
                    "domains": [
                      "example.com",
                      "example.net"
                    ],
                    "optimizeFor": "SPEED"
                  }
                },
                "accuracyCheck": {
                  "summary": "Live registry check with ISC pricing context",
                  "value": {
                    "domains": [
                      "example.com"
                    ],
                    "optimizeFor": "ACCURACY",
                    "iscCode": "ISC_PARTNER_001"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Per-domain availability results in request order. Uncheckable items carry an error object.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "description": "Availability results in the same order as the domains array in the request body.\n",
                      "items": {
                        "$ref": "#/components/schemas/Availability"
                      }
                    }
                  }
                },
                "examples": {
                  "mixedResults": {
                    "summary": "One available domain and one uncheckable domain",
                    "value": {
                      "items": [
                        {
                          "domain": "example.com",
                          "available": true,
                          "definitive": false,
                          "inventory": "REGISTRY",
                          "prices": [
                            {
                              "term": "YEAR",
                              "period": 1,
                              "price": {
                                "currencyCode": "USD",
                                "value": 1999
                              },
                              "renewalPrice": {
                                "currencyCode": "USD",
                                "value": 1999
                              }
                            }
                          ]
                        },
                        {
                          "domain": "invalid..com",
                          "error": {
                            "name": "MISMATCH_FORMAT",
                            "correlationId": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c",
                            "message": "does not conform to the 'domain' format, based on pattern: /^[^.\\s]{1,63}(\\.[^.\\s]{1,63}){1,2}$/"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/registration-quotes": {
      "post": {
        "operationId": "quoteDomainRegistration",
        "tags": [
          "Registration Quotes"
        ],
        "summary": "Quote a single-domain registration (no commitment)",
        "description": "Prices the registration, resolves contact and preference settings,\nreturns required legal agreements, and mints a single-use quoteToken\nwith a 10-minute TTL. Free and read-only; safe to call speculatively.\n\nWhen the domain is unavailable, `available: false` is returned with\nno quoteToken \u2014 this is a valid non-error response.\n\nWhen required contact fields are missing, a `422` is returned with\nfield-level details so the agent can collect the missing data and re-quote.\n\nMay pass `iscCode` to lock pricing at applicable rates;\nthe same value must be supplied on /registrations if provided here.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/iscCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "domain"
                ],
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "The domain name to quote, in punycode A-label form.",
                    "example": "example.com"
                  },
                  "period": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "Registration period in years."
                  },
                  "profileId": {
                    "description": "ID of a saved registration profile. Omit to fall back to the account-default profile or account identity.\n",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/uuid"
                      }
                    ]
                  },
                  "profile": {
                    "description": "One-time inline contacts and purchase preference defaults for this quote. Not persisted.\n",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineRegistrationProfile"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal \u2014 derive registrant from account identity",
                  "value": {
                    "domain": "example.com"
                  }
                },
                "withProfile": {
                  "summary": "With saved profile ID",
                  "value": {
                    "domain": "example.com",
                    "period": 2,
                    "profileId": "14514a29-5fce-4624-8d8a-d8abd56015e2"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Registration quote. When available is false, no quoteToken is returned; this is not an error.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationQuote"
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/registrations": {
      "post": {
        "operationId": "registerDomain",
        "tags": [
          "Registrations"
        ],
        "summary": "Register a domain (requires quoteToken)",
        "description": "Executes a previously quoted domain registration. **Irreversible once\naccepted; creates a charge.** Requires a valid unexpired quoteToken from\n`quoteDomainRegistration`, an `Idempotency-Key` header, and a consent\nrecord. The target domain and period are in the request body alongside\nthe quoteToken.\n\nIdempotency takes precedence over the single-use check: retrying with\nthe same `Idempotency-Key` replays the original operation even after\nthe token is consumed.\n\nReturns a `Registration` entity. Poll `links[rel=self]`\n(`GET /registrations/{registrationId}`) until status is `COMPLETED` or\n`FAILED`. The `operationId` field is also provided for clients that\nprefer `GET /operations/{operationId}`; both resolve the same resource.\n\nPoll either until status is `COMPLETED` or `FAILED`. The operation is\nfire-and-forget; always poll at least once even if the server completed\nit synchronously.\n\nWhen `iscCode` was supplied at quote time, the same value must be\nprovided here or the request fails with `quote_mismatch`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          },
          {
            "$ref": "#/components/parameters/iscCode"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Registration"
              },
              "examples": {
                "withToken": {
                  "summary": "Execute with quoteToken and direct consent",
                  "value": {
                    "domain": "example.com",
                    "period": 1,
                    "quoteToken": "7f3a2b1c-9d8e-4012-a5b6-c1d2e3f4a5b6",
                    "consent": {
                      "agreementTypes": [
                        "API_DPA"
                      ],
                      "agreedAt": "2026-06-12T10:02:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.domain:create"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Registration accepted. Poll the self link for status.\n",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              },
              "Location": {
                "$ref": "#/components/headers/location"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                },
                "examples": {
                  "accepted": {
                    "summary": "Registration accepted with server-derived consent",
                    "value": {
                      "registrationId": "3a8f1c2d-7e6b-4f9a-b1c0-d2e3f4a5b6c7",
                      "domain": "example.com",
                      "period": 1,
                      "price": {
                        "currencyCode": "USD",
                        "value": 1199
                      },
                      "consent": {
                        "agreementTypes": [
                          "API_DPA"
                        ],
                        "agreedAt": "2026-06-12T10:02:00Z",
                        "agreedBy": {
                          "type": "DIRECT",
                          "principal": "550e8400-e29b-41d4-a716-446655440000",
                          "ip": "203.0.113.7"
                        }
                      },
                      "status": "CONFIRMED",
                      "operationId": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c",
                      "createdAt": "2026-06-12T10:02:05Z",
                      "updatedAt": "2026-06-12T10:02:05Z",
                      "links": [
                        {
                          "rel": "self",
                          "href": "/v3/domains/registrations/3a8f1c2d-7e6b-4f9a-b1c0-d2e3f4a5b6c7"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/registrations/{registrationId}": {
      "get": {
        "operationId": "getRegistration",
        "tags": [
          "Registrations"
        ],
        "summary": "Get a registration record",
        "description": "Returns a single registration record by its server-assigned registrationId, including the current execution status and the domain expiry date once the registration completes. This is the concrete poll endpoint for registration operations; the abstract equivalent is GET /operations/{operationId}.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/registrationId"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Registration record returned.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Registration"
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/domain-names/{domain-name}": {
      "get": {
        "operationId": "getDomain",
        "tags": [
          "Domains"
        ],
        "summary": "Get a registered domain",
        "description": "Returns the management view of a single registered domain owned by the authenticated account, including status, nameservers, privacy and auto-renew preferences, and expiry date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/domainNamePath"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Domain found.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/domain-names/{domain-name}/nameservers": {
      "put": {
        "operationId": "updateNameservers",
        "tags": [
          "Domain Management"
        ],
        "summary": "Replace the nameservers for a domain",
        "description": "Replaces the authoritative nameservers for the domain with the provided list. Minimum 2, maximum 13. Returns a DomainOperation; propagation to the registry is asynchronous.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/domainNamePath"
          },
          {
            "$ref": "#/components/parameters/idempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameServers"
              },
              "examples": {
                "nameservers": {
                  "value": [
                    "ns1.example.com",
                    "ns2.example.com"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.nameserver:update"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Nameserver update accepted; poll the operation for completion.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              },
              "Location": {
                "$ref": "#/components/headers/location"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainOperation"
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/zones/{zone}/dns-records": {
      "get": {
        "operationId": "listDNSRecords",
        "tags": [
          "Records"
        ],
        "summary": "List DNS records in a zone",
        "description": "Returns a paginated collection of DNS resource records for the\nspecified zone. Supports filtering by record type and host name,\nfield projection, and page-based pagination.\n\nPagination uses page (1-based) and pageSize query parameters.\nPass totalRequired=true to include totalItems and totalPages when\nat least one record matches; both are omitted for empty result\nsets. Defaults to false to avoid count-query overhead.\n\nFilter parameters are combined with logical AND. Pagination links\nin the response preserve active filter, pagination, and\nfield-projection parameters.\n\nsortBy and sortOrder are not supported. Results are always\nreturned in canonical zone-file order: resource record type (IANA\nRR type number ascending \u2014 e.g. A before NS before CNAME), then\nname, then data. This matches authoritative DNS ordering and is\nnot client-configurable.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/zonePath"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/totalRequired"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Filter results to records of this DNS type.",
            "schema": {
              "$ref": "#/components/schemas/DNSRecordType"
            },
            "example": "A"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Filter results to records with this host name relative to the zone. Use `@` for the zone apex.\n",
            "schema": {
              "type": "string"
            },
            "example": "app2"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated DNS records for the zone.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNSRecords"
                },
                "examples": {
                  "paginated": {
                    "summary": "Page 2 of filtered A records with totals",
                    "value": {
                      "items": [
                        {
                          "recordId": "Aad7oqdXCms9mlJvm_m6UFYqmwjyP20H2KBmQHgttK9kGbF_TuI3knsocArQqIv5I0Kq5C0",
                          "name": "@",
                          "type": "A",
                          "data": "192.0.2.1",
                          "ttl": 3600
                        },
                        {
                          "recordId": "ARZaSm3N9qvJemM6yBmuXIO6F_YIfqSiZcaHhHFozlDsDhdOr1njlXc09TAPJlm8dXqGttRrjRKIgiXpXVm9fms",
                          "name": "app2",
                          "type": "A",
                          "data": "192.0.2.2",
                          "ttl": 3600
                        }
                      ],
                      "totalItems": 150,
                      "totalPages": 6,
                      "links": [
                        {
                          "rel": "self",
                          "href": "/v3/domains/zones/example.com/dns-records?type=A&name=app2&page=2&pageSize=25&totalRequired=true"
                        },
                        {
                          "rel": "first",
                          "href": "/v3/domains/zones/example.com/dns-records?type=A&name=app2&page=1&pageSize=25&totalRequired=true"
                        },
                        {
                          "rel": "last",
                          "href": "/v3/domains/zones/example.com/dns-records?type=A&name=app2&page=6&pageSize=25&totalRequired=true"
                        },
                        {
                          "rel": "next",
                          "href": "/v3/domains/zones/example.com/dns-records?type=A&name=app2&page=3&pageSize=25&totalRequired=true"
                        },
                        {
                          "rel": "prev",
                          "href": "/v3/domains/zones/example.com/dns-records?type=A&name=app2&page=1&pageSize=25&totalRequired=true"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createDNSRecord",
        "tags": [
          "Records"
        ],
        "summary": "Create a DNS record for a zone",
        "description": "Creates a new DNS record in the GoDaddy-managed zone. Changes are applied synchronously; no operation polling required.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/zonePath"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNSRecord"
              },
              "examples": {
                "aRecord": {
                  "summary": "Create an A record",
                  "value": {
                    "name": "@",
                    "type": "A",
                    "data": "192.0.2.1",
                    "ttl": 3600
                  }
                },
                "mxRecord": {
                  "summary": "Create an MX record",
                  "value": {
                    "name": "@",
                    "type": "MX",
                    "data": "mail.example.com.",
                    "ttl": 3600,
                    "priority": 10
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.dns:update"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "DNS record created.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              },
              "Location": {
                "$ref": "#/components/headers/location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNSRecord"
                }
              }
            }
          }
        }
      }
    },
    "/v3/domains/zones/{zone}/dns-records/{recordId}": {
      "put": {
        "operationId": "replaceDNSRecord",
        "tags": [
          "Records"
        ],
        "summary": "Replace a DNS record",
        "description": "Fully replaces an existing DNS resource record identified by\nrecordId within the zone. All writable fields (name, type, data,\nttl) must be supplied; partial updates are not supported on this\nendpoint. Changes are applied synchronously.\n\nGoDaddy-managed system records (SOA and NS) are read-only. When\nrecordId refers to such a record, the request fails with\n`409 Conflict` \u2014 the record exists but cannot be modified.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/zonePath"
          },
          {
            "$ref": "#/components/parameters/recordId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNSRecord"
              },
              "examples": {
                "apexARecord": {
                  "summary": "Replace apex A record",
                  "value": {
                    "name": "@",
                    "type": "A",
                    "data": "192.0.2.1",
                    "ttl": 3600
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "domains.dns:update"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "DNS record replaced.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNSRecord"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDNSRecord",
        "tags": [
          "Records"
        ],
        "summary": "Delete a DNS record",
        "description": "Permanently removes a DNS resource record from the zone. The\nrecordId must refer to an existing record within the specified\nzone. Changes are applied synchronously.\n\nGoDaddy-managed system records (SOA and NS) are read-only. When\nrecordId refers to such a record, the request fails with\n`409 Conflict` \u2014 the record exists but cannot be deleted.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/zonePath"
          },
          {
            "$ref": "#/components/parameters/recordId"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.dns:update"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "DNS record deleted.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              }
            }
          }
        }
      }
    },
    "/v3/domains/operations/{operationId}": {
      "get": {
        "operationId": "getOperation",
        "tags": [
          "Operations"
        ],
        "summary": "Poll an async domain operation",
        "description": "Universal poll endpoint for all asynchronous domain mutations. Returns\nthe current state of the operation. Non-terminal responses include a\n`Retry-After` header.\n\nTerminal statuses:\n- `COMPLETED` \u2014 operation succeeded; `result` contains the final outcome.\n- `FAILED` \u2014 operation terminated with an error; `error` contains detail.\n\nWhile status is non-terminal (`CONFIRMED`, `EXECUTING`), neither\n`result` nor `error` is present. Poll until a terminal status is reached.\n\nThe poll URL is provided in the `Location` header of the initiating 202\nresponse and in `links[rel=self]`. Clients must not construct this URL\nindependently.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/xRequestId"
          },
          {
            "$ref": "#/components/parameters/xShopperId"
          },
          {
            "$ref": "#/components/parameters/operationId"
          }
        ],
        "security": [
          {
            "oauth2": [
              "domains.domain:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current operation state.",
            "headers": {
              "X-Request-Id": {
                "$ref": "#/components/headers/xRequestId"
              },
              "Retry-After": {
                "$ref": "#/components/headers/retryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainOperation"
                },
                "examples": {
                  "executing": {
                    "summary": "Operation in progress",
                    "value": {
                      "operationId": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c",
                      "type": "REGISTER",
                      "domain": "example.com",
                      "status": "EXECUTING",
                      "createdAt": "2026-06-12T10:02:05Z",
                      "updatedAt": "2026-06-12T10:02:07Z",
                      "links": [
                        {
                          "rel": "self",
                          "href": "/v3/domains/operations/9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c"
                        }
                      ]
                    }
                  },
                  "completed": {
                    "summary": "Registration completed",
                    "value": {
                      "operationId": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c",
                      "type": "REGISTER",
                      "domain": "example.com",
                      "status": "COMPLETED",
                      "result": {
                        "expiresAt": "2027-06-12T10:02:10Z",
                        "orderId": "ord_xyz789"
                      },
                      "createdAt": "2026-06-12T10:02:05Z",
                      "updatedAt": "2026-06-12T10:02:10Z",
                      "links": [
                        {
                          "rel": "self",
                          "href": "/v3/domains/operations/9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c"
                        },
                        {
                          "rel": "domain",
                          "href": "/v3/domains/domain-names/example.com"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/domains": {
      "get": {
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "description": "Shopper ID whose domains are to be retrieved",
            "in": "header",
            "name": "X-Shopper-Id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Only include results with `status` value in the specified set",
            "in": "query",
            "name": "statuses",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "ACTIVE",
                  "AWAITING_CLAIM_ACK",
                  "AWAITING_DOCUMENT_AFTER_TRANSFER",
                  "AWAITING_DOCUMENT_AFTER_UPDATE_ACCOUNT",
                  "AWAITING_DOCUMENT_UPLOAD",
                  "AWAITING_FAILED_TRANSFER_WHOIS_PRIVACY",
                  "AWAITING_PAYMENT",
                  "AWAITING_RENEWAL_TRANSFER_IN_COMPLETE",
                  "AWAITING_TRANSFER_IN_ACK",
                  "AWAITING_TRANSFER_IN_AUTH",
                  "AWAITING_TRANSFER_IN_AUTO",
                  "AWAITING_TRANSFER_IN_WHOIS",
                  "AWAITING_TRANSFER_IN_WHOIS_FIX",
                  "AWAITING_VERIFICATION_ICANN",
                  "AWAITING_VERIFICATION_ICANN_MANUAL",
                  "CANCELLED",
                  "CANCELLED_HELD",
                  "CANCELLED_REDEEMABLE",
                  "CANCELLED_TRANSFER",
                  "CONFISCATED",
                  "DISABLED_SPECIAL",
                  "EXCLUDED_INVALID_CLAIM_FIREHOSE",
                  "EXPIRED_REASSIGNED",
                  "FAILED_BACKORDER_CAPTURE",
                  "FAILED_DROP_IMMEDIATE_THEN_ADD",
                  "FAILED_PRE_REGISTRATION",
                  "FAILED_REDEMPTION",
                  "FAILED_REDEMPTION_REPORT",
                  "FAILED_REGISTRATION",
                  "FAILED_REGISTRATION_FIREHOSE",
                  "FAILED_RESTORATION_REDEMPTION_MOCK",
                  "FAILED_SETUP",
                  "FAILED_TRANSFER_IN",
                  "FAILED_TRANSFER_IN_BAD_STATUS",
                  "FAILED_TRANSFER_IN_REGISTRY",
                  "HELD_COURT_ORDERED",
                  "HELD_DISPUTED",
                  "HELD_EXPIRATION_PROTECTION",
                  "HELD_EXPIRED_REDEMPTION_MOCK",
                  "HELD_REGISTRAR_ADD",
                  "HELD_REGISTRAR_REMOVE",
                  "HELD_SHOPPER",
                  "HELD_TEMPORARY",
                  "LOCKED_ABUSE",
                  "LOCKED_COPYRIGHT",
                  "LOCKED_REGISTRY",
                  "LOCKED_SUPER",
                  "PARKED_AND_HELD",
                  "PARKED_EXPIRED",
                  "PARKED_VERIFICATION_ICANN",
                  "PENDING_ABORT_CANCEL_SETUP",
                  "PENDING_AGREEMENT_PRE_REGISTRATION",
                  "PENDING_APPLY_RENEWAL_CREDITS",
                  "PENDING_BACKORDER_CAPTURE",
                  "PENDING_BLOCKED_REGISTRY",
                  "PENDING_CANCEL_REGISTRANT_PROFILE",
                  "PENDING_COMPLETE_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_COMPLETE_REGISTRANT_PROFILE",
                  "PENDING_COO",
                  "PENDING_COO_COMPLETE",
                  "PENDING_DNS",
                  "PENDING_DNS_ACTIVE",
                  "PENDING_DNS_INACTIVE",
                  "PENDING_DOCUMENT_VALIDATION",
                  "PENDING_DOCUMENT_VERIFICATION",
                  "PENDING_DROP_IMMEDIATE",
                  "PENDING_DROP_IMMEDIATE_THEN_ADD",
                  "PENDING_EPP_CREATE",
                  "PENDING_EPP_DELETE",
                  "PENDING_EPP_UPDATE",
                  "PENDING_ESCALATION_REGISTRY",
                  "PENDING_EXPIRATION",
                  "PENDING_EXPIRATION_RESPONSE",
                  "PENDING_EXPIRATION_SYNC",
                  "PENDING_EXPIRED_REASSIGNMENT",
                  "PENDING_EXPIRE_AUTO_ADD",
                  "PENDING_EXTEND_REGISTRANT_PROFILE",
                  "PENDING_FAILED_COO",
                  "PENDING_FAILED_EPP_CREATE",
                  "PENDING_FAILED_HELD",
                  "PENDING_FAILED_PURCHASE_PREMIUM",
                  "PENDING_FAILED_RECONCILE_FIREHOSE",
                  "PENDING_FAILED_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_FAILED_RELEASE_PREMIUM",
                  "PENDING_FAILED_RENEW_EXPIRATION_PROTECTION",
                  "PENDING_FAILED_RESERVE_PREMIUM",
                  "PENDING_FAILED_SUBMIT_FIREHOSE",
                  "PENDING_FAILED_TRANSFER_ACK_PREMIUM",
                  "PENDING_FAILED_TRANSFER_IN_ACK_PREMIUM",
                  "PENDING_FAILED_TRANSFER_IN_PREMIUM",
                  "PENDING_FAILED_TRANSFER_PREMIUM",
                  "PENDING_FAILED_TRANSFER_SUBMIT_PREMIUM",
                  "PENDING_FAILED_UNLOCK_PREMIUM",
                  "PENDING_FAILED_UPDATE_API",
                  "PENDING_FRAUD_VERIFICATION",
                  "PENDING_FRAUD_VERIFIED",
                  "PENDING_GET_CONTACTS",
                  "PENDING_GET_HOSTS",
                  "PENDING_GET_NAME_SERVERS",
                  "PENDING_GET_STATUS",
                  "PENDING_HOLD_ESCROW",
                  "PENDING_HOLD_REDEMPTION",
                  "PENDING_LOCK_CLIENT_REMOVE",
                  "PENDING_LOCK_DATA_QUALITY",
                  "PENDING_LOCK_THEN_HOLD_REDEMPTION",
                  "PENDING_PARKING_DETERMINATION",
                  "PENDING_PARK_INVALID_WHOIS",
                  "PENDING_PARK_INVALID_WHOIS_REMOVAL",
                  "PENDING_PURCHASE_PREMIUM",
                  "PENDING_RECONCILE",
                  "PENDING_RECONCILE_FIREHOSE",
                  "PENDING_REDEMPTION",
                  "PENDING_REDEMPTION_REPORT",
                  "PENDING_REDEMPTION_REPORT_COMPLETE",
                  "PENDING_REDEMPTION_REPORT_SUBMITTED",
                  "PENDING_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_REDEMPTION_WITHOUT_RECEIPT_MOCK",
                  "PENDING_RELEASE_PREMIUM",
                  "PENDING_REMOVAL",
                  "PENDING_REMOVAL_HELD",
                  "PENDING_REMOVAL_PARKED",
                  "PENDING_REMOVAL_UNPARK",
                  "PENDING_RENEWAL",
                  "PENDING_RENEW_EXPIRATION_PROTECTION",
                  "PENDING_RENEW_INFINITE",
                  "PENDING_RENEW_LOCKED",
                  "PENDING_RENEW_WITHOUT_RECEIPT",
                  "PENDING_REPORT_REDEMPTION_WITHOUT_RECEIPT",
                  "PENDING_RESERVE_PREMIUM",
                  "PENDING_RESET_VERIFICATION_ICANN",
                  "PENDING_RESPONSE_FIREHOSE",
                  "PENDING_RESTORATION",
                  "PENDING_RESTORATION_INACTIVE",
                  "PENDING_RESTORATION_REDEMPTION_MOCK",
                  "PENDING_RETRY_EPP_CREATE",
                  "PENDING_RETRY_HELD",
                  "PENDING_SEND_AUTH_CODE",
                  "PENDING_SETUP",
                  "PENDING_SETUP_ABANDON",
                  "PENDING_SETUP_AGREEMENT_LANDRUSH",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_A",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_B",
                  "PENDING_SETUP_AGREEMENT_SUNRISE2_C",
                  "PENDING_SETUP_AUTH",
                  "PENDING_SETUP_DNS",
                  "PENDING_SETUP_FAILED",
                  "PENDING_SETUP_REVIEW",
                  "PENDING_SETUP_SUNRISE",
                  "PENDING_SETUP_SUNRISE_PRE",
                  "PENDING_SETUP_SUNRISE_RESPONSE",
                  "PENDING_SUBMIT_FAILURE",
                  "PENDING_SUBMIT_FIREHOSE",
                  "PENDING_SUBMIT_HOLD_FIREHOSE",
                  "PENDING_SUBMIT_HOLD_LANDRUSH",
                  "PENDING_SUBMIT_HOLD_SUNRISE",
                  "PENDING_SUBMIT_LANDRUSH",
                  "PENDING_SUBMIT_RESPONSE_FIREHOSE",
                  "PENDING_SUBMIT_RESPONSE_LANDRUSH",
                  "PENDING_SUBMIT_RESPONSE_SUNRISE",
                  "PENDING_SUBMIT_SUCCESS_FIREHOSE",
                  "PENDING_SUBMIT_SUCCESS_LANDRUSH",
                  "PENDING_SUBMIT_SUCCESS_SUNRISE",
                  "PENDING_SUBMIT_SUNRISE",
                  "PENDING_SUBMIT_WAITING_LANDRUSH",
                  "PENDING_SUCCESS_PRE_REGISTRATION",
                  "PENDING_SUSPENDED_DATA_QUALITY",
                  "PENDING_TRANSFER_ACK_PREMIUM",
                  "PENDING_TRANSFER_IN",
                  "PENDING_TRANSFER_IN_ACK",
                  "PENDING_TRANSFER_IN_ACK_PREMIUM",
                  "PENDING_TRANSFER_IN_BAD_REGISTRANT",
                  "PENDING_TRANSFER_IN_CANCEL",
                  "PENDING_TRANSFER_IN_CANCEL_REGISTRY",
                  "PENDING_TRANSFER_IN_COMPLETE_ACK",
                  "PENDING_TRANSFER_IN_DELETE",
                  "PENDING_TRANSFER_IN_LOCK",
                  "PENDING_TRANSFER_IN_NACK",
                  "PENDING_TRANSFER_IN_NOTIFICATION",
                  "PENDING_TRANSFER_IN_PREMIUM",
                  "PENDING_TRANSFER_IN_RELEASE",
                  "PENDING_TRANSFER_IN_RESPONSE",
                  "PENDING_TRANSFER_IN_UNDERAGE",
                  "PENDING_TRANSFER_OUT",
                  "PENDING_TRANSFER_OUT_ACK",
                  "PENDING_TRANSFER_OUT_NACK",
                  "PENDING_TRANSFER_OUT_PREMIUM",
                  "PENDING_TRANSFER_OUT_UNDERAGE",
                  "PENDING_TRANSFER_OUT_VALIDATION",
                  "PENDING_TRANSFER_PREMIUM",
                  "PENDING_TRANSFER_PREMUIM",
                  "PENDING_TRANSFER_SUBMIT_PREMIUM",
                  "PENDING_UNLOCK_DATA_QUALITY",
                  "PENDING_UNLOCK_PREMIUM",
                  "PENDING_UPDATE",
                  "PENDING_UPDATED_REGISTRANT_DATA_QUALITY",
                  "PENDING_UPDATE_ACCOUNT",
                  "PENDING_UPDATE_API",
                  "PENDING_UPDATE_API_RESPONSE",
                  "PENDING_UPDATE_AUTH",
                  "PENDING_UPDATE_CONTACTS",
                  "PENDING_UPDATE_CONTACTS_PRIVACY",
                  "PENDING_UPDATE_DNS",
                  "PENDING_UPDATE_DNS_SECURITY",
                  "PENDING_UPDATE_ELIGIBILITY",
                  "PENDING_UPDATE_EPP_CONTACTS",
                  "PENDING_UPDATE_MEMBERSHIP",
                  "PENDING_UPDATE_OWNERSHIP",
                  "PENDING_UPDATE_OWNERSHIP_AUTH_AUCTION",
                  "PENDING_UPDATE_OWNERSHIP_HELD",
                  "PENDING_UPDATE_REGISTRANT",
                  "PENDING_UPDATE_REPO",
                  "PENDING_VALIDATION_DATA_QUALITY",
                  "PENDING_VERIFICATION_FRAUD",
                  "PENDING_VERIFICATION_STATUS",
                  "PENDING_VERIFY_REGISTRANT_DATA_QUALITY",
                  "RESERVED",
                  "RESERVED_PREMIUM",
                  "REVERTED",
                  "SUSPENDED_VERIFICATION_ICANN",
                  "TRANSFERRED_OUT",
                  "UNLOCKED_ABUSE",
                  "UNLOCKED_SUPER",
                  "UNPARKED_AND_UNHELD",
                  "UPDATED_OWNERSHIP",
                  "UPDATED_OWNERSHIP_HELD"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Only include results with `status` value in any of the specified groups",
            "in": "query",
            "name": "statusGroups",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "INACTIVE",
                  "PRE_REGISTRATION",
                  "REDEMPTION",
                  "RENEWABLE",
                  "VERIFICATION_ICANN",
                  "VISIBLE"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Maximum number of domains to return",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "description": "Marker Domain to use as the offset in results",
            "in": "query",
            "name": "marker",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional details to be included in the response",
            "in": "query",
            "name": "includes",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "authCode",
                  "contacts",
                  "nameServers"
                ],
                "type": "string"
              }
            }
          },
          {
            "description": "Only include results that have been modified since the specified date",
            "in": "query",
            "name": "modifiedDate",
            "required": false,
            "schema": {
              "type": "string",
              "format": "iso-datetime"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/V1DomainSummary"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "operationId": "list",
        "summary": "Retrieve a list of Domains for the specified Shopper"
      }
    },
    "/v1/domains/agreements": {
      "get": {
        "tags": [
          "v1"
        ],
        "parameters": [
          {
            "description": "Unique identifier of the Market used to retrieve/translate Legal Agreements",
            "in": "header",
            "name": "X-Market-Id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "bcp-47",
              "default": "en-US"
            }
          },
          {
            "description": "list of TLDs whose legal agreements are to be retrieved",
            "in": "query",
            "name": "tlds",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Whether or not privacy has been requested",
            "in": "query",
            "name": "privacy",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Whether or not domain tranfer has been requested",
            "in": "query",
            "name": "forTransfer",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/V1LegalAgreement"
                  },
                  "type": "array"
                }
              }
            }
          }
        },
        "operationId": "agreements",
        "summary": "Retrieve the legal agreement(s) required to purchase the specified TLD and add-ons"
      }
    }
  },
  "components": {
    "parameters": {
      "xRequestId": {
        "name": "X-Request-Id",
        "in": "header",
        "description": "Optional client-generated request correlation identifier, propagated across services and returned in the response X-Request-Id header.\n",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "xShopperId": {
        "name": "X-Shopper-Id",
        "in": "header",
        "description": "Reseller acting on behalf of a shopper account. When present, all domain operations are scoped to the specified shopper. Absent, the authenticated entity's own account is used. Only valid for reseller OAuth tokens.\n",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "shopper_123"
      },
      "iscCode": {
        "name": "iscCode",
        "in": "query",
        "description": "ISC (International Shopper Code) for pricing context. When provided, prices reflect the applicable rates for this ISC.\n",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "ISC_PARTNER_001"
      },
      "idempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Client-generated unique key (UUID recommended). Retrying a mutating request with the same Idempotency-Key returns the original response without creating a duplicate side effect. Required on all execute endpoints.\n",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c"
      },
      "domainNamePath": {
        "name": "domain-name",
        "in": "path",
        "description": "The domain name in punycode A-label form (e.g., example.com). For IDNs, use the punycode representation.\n",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "example.com"
      },
      "registrationId": {
        "name": "registrationId",
        "in": "path",
        "description": "Server-assigned registration identifier.",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/uuid"
        }
      },
      "operationId": {
        "name": "operationId",
        "in": "path",
        "description": "The server-assigned operation identifier returned in the 202 response of any async domain mutation.\n",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/uuid"
        },
        "example": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c"
      },
      "zonePath": {
        "name": "zone",
        "in": "path",
        "description": "The domain name in punycode A-label form (e.g., example.com). For IDNs, use the punycode representation.\n",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "example.com"
      },
      "recordId": {
        "name": "recordId",
        "in": "path",
        "description": "Server-assigned DNS record identifier within the zone.",
        "required": true,
        "schema": {
          "type": "string"
        },
        "example": "Aad7oqdXCms9mlJvm_m6UFYqmwjyP20H2KBmQHgttK9kGbF_TuI3knsocArQqIv5I0Kq5C0"
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "One-based page number for offset-based pagination. Defaults to 1.\n",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "example": 2
      },
      "pageSize": {
        "name": "pageSize",
        "in": "query",
        "description": "Maximum number of items to return per page.\n",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 25
        },
        "example": 25
      },
      "totalRequired": {
        "name": "totalRequired",
        "in": "query",
        "description": "When true, the response includes totalItems and totalPages for the current filter when at least one record matches. Both are omitted when the result set is empty. Defaults to false; omitting totals avoids the cost of a count query on large collections.\n",
        "required": false,
        "schema": {
          "type": "boolean",
          "default": false
        },
        "example": true
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "Comma-separated list of fields to include in each item of the response. Omitted fields are excluded from the payload. When absent, all fields are returned. Field names must match properties defined on the item schema for the operation; any unknown or invalid name returns 400 Bad Request.\n",
        "required": false,
        "schema": {
          "type": "string"
        },
        "example": "name,type,data,ttl"
      }
    },
    "headers": {
      "xRequestId": {
        "description": "Request correlation identifier echoed from the request or server-generated.",
        "schema": {
          "$ref": "#/components/schemas/uuid"
        }
      },
      "location": {
        "description": "URL of the created or async resource.",
        "schema": {
          "type": "string",
          "format": "uri"
        }
      },
      "retryAfter": {
        "description": "Suggested number of seconds before the client should poll again. Present on 202 responses and non-terminal operation poll responses.\n",
        "schema": {
          "type": "integer",
          "example": 5
        }
      }
    },
    "responses": {
      "400": {
        "description": "Malformed request syntax, missing required field, or invalid field type.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "401": {
        "description": "Authentication credentials are missing or invalid.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "403": {
        "description": "Authenticated identity is not authorized to perform this operation.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "404": {
        "description": "The requested resource was not found.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "409": {
        "description": "Conflict \u2014 the request cannot be completed in the current state. Used for quote lifecycle errors (quote_expired, quote_mismatch, quote_consumed), domain state conflicts such as domain_already_exists, and immutable DNS records (dns_record_not_mutable) such as GoDaddy-managed SOA and NS records.\n",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "422": {
        "description": "Semantically invalid request \u2014 valid structure but violates a business rule, such as an ineligible contact, unsupported TLD, or non-renewable domain status.\n",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "429": {
        "description": "Too many requests \u2014 rate limit exceeded.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "503": {
        "description": "Service temporarily unavailable.",
        "headers": {
          "X-Request-Id": {
            "$ref": "#/components/headers/xRequestId"
          },
          "Retry-After": {
            "$ref": "#/components/headers/retryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      }
    },
    "schemas": {
      "Agreement": {
        "title": "Agreement",
        "description": "A legal agreement that must be accepted prior to executing a domain operation. Agreements are returned in the quote response and must be acknowledged in the execute request via the consent.agreementTypes array.\n",
        "type": "object",
        "properties": {
          "agreementType": {
            "description": "The type of legal agreement. Identifies which agreement text the customer must accept.\n",
            "example": "API_DPA",
            "allOf": [
              {
                "$ref": "#/components/schemas/AgreementType"
              }
            ]
          },
          "title": {
            "type": "string",
            "description": "Human-readable title of the agreement, suitable for display to the customer.\n",
            "example": "Domain Name Registration Agreement"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL to the full legal text of this agreement. Present when available.",
            "example": "https://www.godaddy.com/agreements/showdoc?pageid=reg_sa"
          }
        }
      },
      "Availability": {
        "title": "Availability",
        "description": "The availability check result for a single requested domain. A checkable domain returns the available flag plus optional pricing. A domain that could not be checked carries an error object and no availability fields. Exactly one of available or error is present per item.\nAvailability is best-effort indicative; the authoritative availability check is performed at quote time. definitive: true means the result was confirmed directly with the registry rather than from a cached zone check.\n",
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "The domain name checked, normalized to punycode A-label form.\n",
            "example": "example.com"
          },
          "unicodeDomain": {
            "type": "string",
            "description": "The Unicode (U-label) form of the domain. Present only for IDN domains.\n",
            "example": "m\u00fcnchen.de"
          },
          "available": {
            "type": "boolean",
            "description": "Whether this domain appears to be available for registration. Best-effort; re-verified at quote time. Present only when the domain was successfully checked (no error).\n"
          },
          "definitive": {
            "type": "boolean",
            "description": "When true, the availability result was confirmed directly with the registry (ACCURACY mode). When false, the result is from a cached zone data check (SPEED mode) and may be stale.\n"
          },
          "inventory": {
            "description": "The inventory source for this domain. Present when available is true and pricing fields are returned.\n",
            "example": "REGISTRY",
            "allOf": [
              {
                "$ref": "#/components/schemas/InventoryType"
              }
            ]
          },
          "prices": {
            "type": "array",
            "description": "Indicative pricing offered per registration term length, in ascending order of period. Present when available is true. Prices are best-effort indicative and are locked only at quote time.\n",
            "items": {
              "$ref": "#/components/schemas/TermPrice"
            },
            "nullable": true
          },
          "error": {
            "description": "Present when this domain could not be checked. One of available or error is present, never both. correlationId is required and should echo the X-Request-Id header value for this request.\nCommon name values (aligned with v2 find API error codes): MISMATCH_FORMAT \u2014 the domain name does not conform to the expected format. UNSUPPORTED_TLD \u2014 the TLD is not supported for this account or check. INVALID_DOMAIN \u2014 the availcheck service reported a syntax error for this domain. ERROR_UNKNOWN \u2014 the check failed and could not be classified further.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/error"
              }
            ]
          }
        }
      },
      "AvailabilityCheckCriteria": {
        "title": "Availability Check Criteria",
        "description": "Criteria for an availability check. Specifies 1\u201350 domain names and optional parameters that influence how the check is performed. This controller does not persist the check; there is no check identity or poll URL.\n",
        "type": "object",
        "required": [
          "domains"
        ],
        "properties": {
          "domains": {
            "type": "array",
            "minItems": 1,
            "maxItems": 50,
            "items": {
              "type": "string"
            },
            "description": "List of 1\u201350 domain names to check, in punycode A-label form for IDNs.\n",
            "example": [
              "example.com",
              "example.net"
            ]
          },
          "optimizeFor": {
            "default": "SPEED",
            "description": "Optional. When omitted, defaults to SPEED. Availability is always re-verified authoritatively at quote time regardless of this setting.\n",
            "example": "SPEED",
            "allOf": [
              {
                "$ref": "#/components/schemas/OptimizationTarget"
              }
            ]
          },
          "iscCode": {
            "type": "string",
            "description": "Reseller ISC (International Shopper Code) for pricing context. When provided, the indicative prices in the results reflect the applicable reseller rates for this ISC.\n",
            "example": "ISC_PARTNER_001"
          }
        }
      },
      "Consent": {
        "title": "Consent",
        "description": "Customer consent record for a domain operation, capturing which legal agreements were accepted, when, and by whom. On execute, the caller supplies agreementTypes and agreedAt. The server derives agreedBy from the authenticated request context (OAuth identity, X-Shopper-Id, client IP, and transmission channel).\n",
        "type": "object",
        "required": [
          "agreementTypes",
          "agreedAt"
        ],
        "properties": {
          "agreementTypes": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/AgreementType"
            },
            "description": "The agreement types the customer accepted. Must match the agreementType values returned in the corresponding quote's requiredAgreements array.\n",
            "example": [
              "API_DPA"
            ]
          },
          "agreedAt": {
            "description": "The timestamp at which the principal expressed consent. Should reflect when the customer clicked accept or confirmed the operation, not when the API call was made.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "agreedBy": {
            "description": "Who gave consent and how it was transmitted. Server-derived from the execute request's auth context.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/ConsentActor"
              }
            ]
          }
        }
      },
      "ConsentActor": {
        "title": "Consent Actor",
        "description": "Identifies who gave consent and how it was transmitted. One uniform schema for all actor types. Populated by the server from the execute request's authenticated context \u2014 not supplied by the caller.\n",
        "type": "object",
        "x-sensitivity": "confidential",
        "required": [
          "type",
          "principal"
        ],
        "properties": {
          "type": {
            "description": "How consent was transmitted relative to the principal. Server-assigned from the request's auth and channel context.\n",
            "example": "DIRECT",
            "allOf": [
              {
                "$ref": "#/components/schemas/ConsentActorType"
              }
            ]
          },
          "principal": {
            "type": "string",
            "description": "The resolved customer identifier whose consent is recorded, derived from the auth context on the execute request.\n",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "actor": {
            "type": "string",
            "description": "The party that transmitted the consent when distinct from the principal. Omitted for DIRECT.\n",
            "example": "agent:claude/atlas-1"
          },
          "ip": {
            "type": "string",
            "description": "Client IP address captured from the execute request at the time consent was recorded. Omitted when unavailable.\n",
            "example": "203.0.113.7"
          }
        }
      },
      "DNSRecord": {
        "title": "DNS Record",
        "description": "A single DNS resource record in the zone for a domain managed by GoDaddy DNS. Supports standard IANA record types plus the GoDaddy ALIAS extension. SOA records are read-only and managed by GoDaddy's authoritative DNS infrastructure. The record is uniquely identified by the combination of name, type, and data.\n",
        "type": "object",
        "required": [
          "name",
          "type",
          "data",
          "ttl"
        ],
        "properties": {
          "recordId": {
            "type": "string",
            "description": "Server-assigned stable identifier for this DNS record.\n",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "The DNS record name (label), relative to the zone apex. Use @ to represent the zone apex itself. Wildcards (*) are supported for A, AAAA, and CNAME records.\n",
            "example": "@"
          },
          "type": {
            "description": "The DNS resource record type. Together with name and data, uniquely identifies this record in the zone. Determines the expected data format and which optional fields (priority, service, port, etc.) apply. SOA and NS records are read-only.\n",
            "example": "A",
            "allOf": [
              {
                "$ref": "#/components/schemas/DNSRecordType"
              }
            ]
          },
          "data": {
            "type": "string",
            "description": "The record data, formatted per the record type. For MX: the mail exchange hostname (e.g. \"mail.example.com.\"). Supply priority as the sibling priority field. For SRV: the target hostname; supply priority, weight, port, service, and protocol as sibling fields. For TXT: the text value (quotes are handled by the DNS layer). For A/AAAA: the IP address. For CNAME/ALIAS: the target hostname with trailing dot.\n",
            "example": "192.0.2.1"
          },
          "ttl": {
            "type": "integer",
            "minimum": 600,
            "maximum": 86400,
            "description": "Time-to-live in seconds. Controls how long resolvers may cache this record. Minimum 600 (10 minutes); maximum 86400 (24 hours).\n",
            "example": 3600
          },
          "priority": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "Record priority. Required for MX and SRV records. Lower values indicate higher preference. Omit for all other record types.\n",
            "example": 10
          },
          "service": {
            "type": "string",
            "description": "Service name for SRV and TLSA records, prefixed with an underscore (e.g. `_http`, `_smtp`). Combined with the protocol to form the record name as `_service._proto.name`.\n",
            "example": "_http"
          },
          "port": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "TCP or UDP port number for the target service. Used in SRV records to direct clients to the correct port, and in TLSA records to identify the service endpoint being certified.\n",
            "example": 443
          },
          "weight": {
            "type": "integer",
            "minimum": 0,
            "maximum": 65535,
            "description": "Relative weight for load distribution among SRV records with equal priority. Higher values increase the probability of selection. Use 0 when only one target exists at a given priority.\n",
            "example": 10
          },
          "protocol": {
            "type": "string",
            "description": "Transport protocol for SRV and TLSA records, prefixed with an underscore. Typically `_tcp` or `_udp`.\n",
            "example": "_tcp"
          },
          "flag": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "CAA record flag. Certification Authority restriction flags byte (RFC 8659; CAA only) Use 0 for non-critical, 128 for critical (issuer must understand the tag).\n",
            "example": 0
          },
          "tag": {
            "type": "string",
            "description": "CAA record property tag. Common values: `issue` (authorize CA to issue), `issuewild` (wildcard certs), `iodef` (violation reporting URL).\n",
            "example": "issue"
          }
        }
      },
      "DNSRecords": {
        "title": "DNS Records",
        "description": "A paginated collection of DNS resource records within a zone. Supports filtering by record type and name, field projection, and page-based pagination. When totalRequired=true, totalItems and totalPages are included for non-empty result sets; both are omitted when there are zero matching records.\n",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "DNS records for the current page.",
            "items": {
              "$ref": "#/components/schemas/DNSRecord"
            },
            "nullable": true
          },
          "totalItems": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of records matching the current filter across all pages. Present only when totalRequired=true and at least one record matches.\n",
            "example": 150
          },
          "totalPages": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of pages available at the requested pageSize. A non-negative, non-zero integer per platform pagination standards. Present only when totalRequired=true and at least one record matches; omitted when the result set is empty.\n",
            "example": 6
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link-description"
            },
            "description": "HATEOAS pagination links for navigating result pages. May include rel=self (current page), rel=first, rel=last, rel=next, rel=prev \u2014 included when applicable.\n",
            "readOnly": true,
            "nullable": true
          }
        }
      },
      "NameServers": {
        "title": "Name Servers",
        "description": "Authoritative nameserver hostnames for a domain. ICANN requires a minimum of two nameservers; registries accept up to thirteen.\n",
        "type": "array",
        "minItems": 2,
        "maxItems": 13,
        "items": {
          "$ref": "#/components/schemas/NameserverHostname"
        }
      },
      "NameserverHostname": {
        "title": "Nameserver Hostname",
        "description": "A fully-qualified nameserver hostname in punycode A-label form. Labels are dot-separated; a trailing dot is not required.\n",
        "type": "string"
      },
      "Domain": {
        "title": "Domain",
        "description": "A registered domain owned by the authenticated account. Represents the full management view of a domain: registration metadata, lifecycle status, nameservers, privacy and auto-renew preferences.\n",
        "type": "object",
        "properties": {
          "domain": {
            "type": "string",
            "description": "The registered domain name in punycode A-label form. For IDNs, the Unicode (U-label) form is available in the idnDomain field.\n",
            "readOnly": true,
            "example": "example.com"
          },
          "idnDomain": {
            "type": "string",
            "description": "The Unicode (U-label) representation of the domain. Present only for internationalized domain names (IDNs).\n",
            "readOnly": true
          },
          "status": {
            "description": "The current lifecycle status of this domain.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DomainStatus"
              }
            ]
          },
          "expiresAt": {
            "description": "The date and time when this domain registration expires. After expiry the domain enters a grace period before deletion.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "createdAt": {
            "description": "The date and time when this domain was first registered with GoDaddy.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "renewBy": {
            "description": "The date and time when this domain must renew on before entering expiry.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "updatedAt": {
            "description": "The date and time when this domain was last updated\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "autoRenew": {
            "type": "boolean",
            "description": "Whether this domain is set to auto-renew before expiry. When true, the registration is renewed automatically before it expires.\n"
          },
          "privacy": {
            "type": "boolean",
            "description": "Whether WHOIS privacy protection is active for this domain. When true, the registrant's contact details are masked in public WHOIS.\n"
          },
          "transferLock": {
            "type": "boolean",
            "description": "Whether the transfer lock (registrar lock / EPP lock) is active. When true, outbound transfers to another registrar are blocked.\n",
            "readOnly": true
          },
          "nameServers": {
            "description": "The current authoritative nameservers for this domain.\n",
            "example": [
              "ns01.domaincontrol.com",
              "ns02.domaincontrol.com"
            ],
            "allOf": [
              {
                "$ref": "#/components/schemas/NameServers"
              }
            ]
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link-description"
            },
            "description": "HATEOAS link relations for this domain. rel=self \u2014 the canonical URL for this domain record. rel=contacts \u2014 the domain's WHOIS contact records. rel=nameservers \u2014 the domain's authoritative nameservers. rel=dns-records \u2014 the domain's DNS records managed by GoDaddy.\n",
            "readOnly": true,
            "nullable": true
          }
        }
      },
      "DomainOperation": {
        "title": "Domain Operation",
        "description": "The abstract operation envelope for all domain mutations, returned by the universal GET /operations/{operationId} endpoint. Concrete specializations \u2014 Registration, Renewal, and Transfer \u2014 are returned directly by their respective POST endpoints and carry the same operationId. Developers who do not need the abstract view can poll the concrete resource (GET /registrations/{id}, etc.) and ignore this type entirely.\nOperation IDs are unique across all concrete types, so either poll path works for any given operation.\nAsync state machine:\n  status tracks where the operation is in its lifecycle. Non-terminal values\n  (CONFIRMED, EXECUTING) are transient \u2014 poll until a terminal value is reached.\n  result and error are mutually exclusive terminal payloads:\n    COMPLETED \u2014 operation succeeded; result contains the final outcome data.\n    FAILED \u2014 operation terminated; error contains failure detail.\n  Neither result nor error is present while status is non-terminal.\n",
        "type": "object",
        "properties": {
          "operationId": {
            "description": "Stable, server-assigned identifier for this operation. Unique across all operation types. Use to poll GET /operations/{operationId}. Matches the operationId on the corresponding concrete resource (e.g. Registration).\n",
            "readOnly": true,
            "example": "9f1c2e7a-4b3d-4e8f-a1c2-3d4e5f6a7b8c",
            "allOf": [
              {
                "$ref": "#/components/schemas/uuid"
              }
            ]
          },
          "type": {
            "description": "The type of operation being tracked. Determines which fields appear in result on COMPLETED and the concrete resource collection (REGISTER \u2192 /registrations, RENEW \u2192 /renewals, TRANSFER_IN \u2192 /transfers).\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DomainOperationType"
              }
            ]
          },
          "domain": {
            "type": "string",
            "description": "The domain name this operation applies to.",
            "readOnly": true,
            "example": "example.com"
          },
          "status": {
            "description": "Current position in the operation lifecycle. Poll until COMPLETED or FAILED. Non-terminal while CONFIRMED or EXECUTING; terminal values are mutually exclusive with each other and do not revert.\n",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/DomainOperationStatus"
              }
            ]
          },
          "result": {
            "description": "Present when status is COMPLETED. Absent while non-terminal and when status is FAILED.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/DomainOperationResult"
              }
            ],
            "readOnly": true
          },
          "error": {
            "description": "Present when status is FAILED. Absent while non-terminal and when status is COMPLETED.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/error"
              }
            ],
            "readOnly": true
          },
          "links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/link-description"
            },
            "description": "HATEOAS link relations for this operation. rel=self \u2014 the canonical URL for this abstract operation view. rel=registration, rel=renewal, or rel=transfer \u2014 the same resource viewed through its concrete typed collection. rel=domain \u2014 the domain-name resource affected by this operation.\n",
            "readOnly": true,
            "nullable": true
          },
          "createdAt": {
            "description": "Timestamp when this operation was created.",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "updatedAt": {
            "description": "Timestamp of the most recent status update.",
            "readOnly": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          }
        }
      },
      "DomainOperationResult": {
        "title": "Domain Operation Result",
        "description": "The terminal success payload for a completed domain operation. Returned on the parent DomainOperation when status is COMPLETED. Absent for non-terminal statuses (CONFIRMED, EXECUTING) and for FAILED operations.\nOnce status reaches COMPLETED it is terminal: result is populated, remains available on subsequent polls, and status does not revert. Interpret the fields present in result using the parent operation's type:\nREGISTER \u2014 expiresAt, orderId.\n",
        "type": "object",
        "readOnly": true,
        "properties": {
          "expiresAt": {
            "description": "New domain expiry date. Present for REGISTER and RENEW operations.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          },
          "orderId": {
            "type": "string",
            "description": "The commerce order ID associated with the charge. Present for commercial operations (REGISTER, RENEW, TRANSFER_IN).\n",
            "example": "ord_abc123"
          },
          "updatedAt": {
            "description": "Timestamp of the completed non-commercial mutation.\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/date-time"
              }
            ]
          }
        }
      },
      "Registration": {
        "title": "Registration",
        "description": "A domain registration entity created when a POST /registrations request is accepted. Registrations are a top-level resource with their own stable registrationId; the domain relationship is captured in the representation.\nOn POST /registrations, supply the writable fields (domain, period, quoteToken, consent, and optionally profileId/profile). The server returns the full Registration with readOnly fields populated. Poll links[rel=self] until status reaches COMPLETED or FAILED. The same resource is also reachable via GET /operations/{operationId} for clients operating at the abstract level; operationId is included in the representation for that purpose.\n",
[...]
